@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Mulish', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  @apply text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-title;
}

/* tailwind components  */

@layer components {

  /* wrapper container */
  .container {
    @apply  !max-w-screen-2xl mx-auto px-5
  }

  /* Buttons */
  .btn-white{
    @apply text-title text-sm cursor-pointer bg-white font-bold py-2 md:py-3 block w-fit px-5 md:px-7 rounded hover:shadow-md transition duration-300 ease-in-out;
  }

  /* section-title */
  .section-title{
    @apply md:text-3xl text-2xl font-bold text-center text-title
  }
  .card-shadow{
    box-shadow: 0 30px 40px 0 rgb(131 132 135 / 15%);
    -webkit-box-shadow: 0 30px 40px 0 rgb(131 132 135 / 15%);
  }


   /* Hide Scrollbar */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* .pdc::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
  .pdc::-webkit-scrollbar-track{
    background-color: white;
  }
  .pdc::-webkit-scrollbar-thumb{
    background-color: #dfdeeb;
  } */

  /* product single */
  /* product card */
  .product-card{
    @apply !max-w-[275px] flex flex-col cursor-pointer p-5 transition-all duration-300 rounded-md hover:card-shadow relative border border-gray-100 hover:border-gray-200
  }

}

/* Mantine css */
.mantine-Tabs-tab{
  padding: 15px;
}